name: Preprocessing Workflow

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    
    permissions:
      contents: write

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Set up Python 3.12
      uses: actions/setup-python@v3
      with:
        python-version: "3.12"

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pandas scikit-learn nltk joblib
        python -m nltk.downloader stopwords

    - name: Run Automated Preprocessing
      run: |
        # Pastikan path folder dan nama file sesuai
        python preprocessing/automate_Elroy-Sinaga.py

    - name: Commit and Push processed data
      run: |
        git config --local user.email "github-actions[bot]@users.noreply.github.com"
        git config --local user.name "github-actions[bot]"
        
        # Tambahkan semua file di dalam folder hasil (csv dan pkl)
        git add preprocessing/SpamEmail_preprocessing/
        
        # [skip ci] digunakan agar push dari bot tidak memicu workflow berulang-ulang
        git commit -m "Auto-update: Processed data (CSV & PKL) [skip ci]" || echo "No changes to commit"
        git push